<div class="canvas-tools">
  <ul>
    <li><i class="fas fa-mouse-pointer fa-2x"></i></li>
    <li (click)="usePencil()"><i class="fas fa-pencil-alt fa-2x"></i></li>
    <li><i class="fas fa-eraser fa-2x"></i></li>
    <li><i class="far fa-square fa-2x"></i></li>
    <li><i class="far fa-circle fa-2x"></i></li>
    <li><i class="fas fa-vector-square fa-2x"></i></li>
    <li><i class="fas fa-font fa-2x"></i></li>
    <li><i class="fas fa-slash fa-2x"></i></li>
    <li><i class="fas fa-eye-dropper fa-2x"></i></li>
    <li><i class="fas fa-fill-drip fa-2x"></i></li>
  </ul>
</div>
<div class="canvas-container">
  <canvas #canvas [width]="width" [height]="height"></canvas>
</div>

<h4>Meta info: mouse position:{{ this.mousePosX }},{{ this.mousePosY }}</h4>
<div class="canvas-config">
  <div class="row">
    <mat-form-field>
      <mat-label>Canvas width</mat-label>
      <input matInput type="number" [(ngModel)]="width" />
    </mat-form-field>
    <mat-slider
      thumbLabel
      min="1"
      max="600"
      [displayWith]="formatLabel"
      tickInterval="1"
      [(ngModel)]="width"
    ></mat-slider>
  </div>
  <div class="row">
    <mat-form-field>
      <mat-label>Canvas height</mat-label>
      <input matInput type="number" [(ngModel)]="height" />
    </mat-form-field>
    <mat-slider
      thumbLabel
      min="1"
      max="400"
      [displayWith]="formatLabel"
      tickInterval="1"
      [(ngModel)]="height"
    ></mat-slider>
  </div>
</div>
<!-- <button (click)="openModal('custom-modal-1')">Open Modal 1</button> -->
<button (click)="reset()">Reset</button>
<!--
<popup-modal id="custom-modal-1">
  <h1>A Custom Modal!</h1>
  <p>Home page text: <input type="text" [(ngModel)]="bodyText" /></p>
  <button (click)="closeModal('custom-modal-1')">Close</button>
</popup-modal> -->

<app-modal></app-modal>
